{#
  Base page. Extends the GOV.UK Frontend page template, but this site is not
  part of GOV.UK, so it uses the Generic header and has no GOV.UK crown,
  logotype, icons or GDS Transport font.
#}
{% extends "govuk/template.njk" %}
{% from "govuk/components/generic-header/macro.njk" import govukGenericHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set themeColor = "#0b0c0c" %}

{% block pageTitle %}{% if title and title != site.title %}{{ title }} – {% endif %}{{ site.title }}{% endblock %}

{% block headIcons %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/site.css">
  <meta name="description" content="The working draft of the UK digital verification services trust framework, maintained by the Office for Digital Identities and Attributes.">
{% endblock %}

{% block govukHeader %}
  {{ govukGenericHeader({ logoText: site.organisation, url: "/" }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: site.title,
    serviceUrl: "/",
    navigation: [
      { href: "/trust-framework-1.0/", text: "Contents", active: page.url.startsWith("/trust-framework-1.0/") },
      { href: "/feedback/", text: "Give feedback", active: page.url == "/feedback/" },
      { href: repositoryUrl, text: "GitHub" }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Draft" },
    html: 'This is a working draft, not the published trust framework. <a class="govuk-link" href="' + site.publishedUrl + '">Read the published version on GOV.UK</a>.'
  }) }}
  {% block breadcrumbs %}{% endblock %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block govukFooter %}
  <div class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="{{ site.publishedUrl }}">Published trust framework on GOV.UK</a></li>
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="{{ repositoryUrl }}">Working draft on GitHub</a></li>
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="{{ site.organisationUrl }}">{{ site.organisation }}</a></li>
          </ul>
          <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"/>
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">© Crown copyright</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/init.js"></script>
{% endblock %}
